<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search by City</title>
</head>
<body>
    <button class="btn"><i class="home"></i><a href="/">Home</a></button>

    <form method="POST" action="/city">
        <select name="city">
            <option value="" selected disabled>Choose a city</option>
            {% for city in cities %}
                <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Search Routes">
    </form>

    {% if routes %}
    <center><h1 class="align-center">Routes that include {{city_in_question}} are {{routes}}.</h1></center>
    {% endif %}
</body>
</html>
